:root{
    --font: "Roboto";
    --colour_Hero: #F9FAF8;
    --colour-Secondary_text: #E5E7EB;
    --background-color-hero_footer: #1F2937;
    --background-color-Quote_Section: #E5E7EB;
    --button-color: #3882f6;
}



