:root{
    --font: "Roboto", sans-serif;
    --color_white-font: #F9FAF8; 
    --color_gray-font: #E5E7EB;
    --color_information_section: #1F2937;


    --background-color-slate-blue: #1F2937;
    --backgrond-color-gray: #E5E7EB;


    --button-color: #3882F6;
}

/* Global settings */

 * {
    margin: 0;
    padding: 0;
 }

 body, html{
    display: block;
    height: 100%;

    font-family: var(--font);
 }

 body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 
 a {
    text-decoration: none;
 }

 .button-sign-up{
    border-radius: 7%;
    padding: 3px 19px;
    margin: 5px;

    font-weight: 800;
    border: 1px solid var(--button-color);
    color: var(--color_white-font);
    background-color: var(--button-color);

    
 }

 /* Global settings */

/* Header & Hero */

/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--background-color-slate-blue);
    padding: 12px;
}

.header-logo{
    font-size: 24px;
    font-weight: 600;
    color: var(--color_white-font);

    padding: 20px;
}

.header-links{
    display: flex;
    gap: 10px;
}

.header-links > div a{
    font-size: smaller;
    color: var(--color_white-font);
}

/* Header */

/* Hero */
.hero{
    background-color: var(--background-color-slate-blue);
    padding: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    
    height: 400px;
}

.hero-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* border: 1px solid white; */
    width: 25rem;
    height: auto;

    margin: 1px 40px;
}

.hero-text-container > .button-sign-up{
    align-self: flex-start;
}

.hero-header-one{
    color: var(--color_white-font);
    font-size: 48px;
    font-weight: 900;
}

.hero-paragraph{
    color: var(--backgrond-color-gray);
    font-size: 17px;
    word-break: normal;
    white-space: normal;
}

.img-hero{
    border: 1px solid var(--backgrond-color-gray);
    background-size: cover;
    background-image: url(assets/picHero.jpeg);
    width: 600px;
    height: 300px;
}
/* Hero */

/* Header & Hero */

/* Content */

/* Typography */

.some-info{
    color: var(--color_information_section);
    font-size: 32px;
    font-weight: 900;
    
    padding: 5px;
    margin-top: 1px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 400px;
}

.content-rows{
    display: flex;
    justify-content: space-around;
}

.content-items{
    display: flex;
    flex-direction: column;
    
    
    margin: 10px;
    padding: 7px;
    text-align: center;
    /* border: 1px solid black; */
    text-indent: 0rem;

}

.content-image-1{
    border: 3px solid var(--button-color);
    border-radius: 10%;
    width: 200px;
    height: 200px;
    margin: 7px;

    background-image: url(assets/item-img-1.jpg);
    background-size: cover;

    align-self: center;
}

.content-image-2{
    border: 3px solid var(--button-color);
    border-radius: 10%;
    width: 200px;
    height: 200px;
    margin: 7px;

    background-image: url(assets/item-img-2.jpeg);
    background-size: cover;
    align-self: center;
}

.content-image-3{
    border: 3px solid var(--button-color);
    border-radius: 10%;
    width: 200px;
    height: 200px;
    margin: 7px;

    background-image: url(assets/item-img-3.jpeg);
    background-size: cover;
    align-self: center;
}

.content-image-4{
    border: 3px solid var(--button-color);
    border-radius: 10%;
    width: 200px;
    height: 200px;
    margin: 7px;

    background-image: url(assets/item-img-4.jpeg);
    background-size: cover;
    align-self: center;
}

/* The quote part ! */

.quote-section{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 400px;
    
    background-color: var(--backgrond-color-gray);
}

.quote{
    display: flex;
    flex-direction: column;
    


    width: 700px;
    
    /* As palavra */
    font-size: 36px; 
    font-style: italic;
    color: var(--background-color-slate-blue);
}

.writer {
    align-self: flex-end;
    font-weight: 900;
}



/* Call to action */
.call-to-action-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
}

/*  */
.call-to-action{
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;
    
    border-radius: 1.5%;
    background-color: var(--button-color);
    width: 800px;
    height: 100px;

    padding: 5px;
}


.call-to-action > .button-sign-up{
    
    border: 2px solid aliceblue;
    border-radius: 7%;
}

.text-cta > h4{
    font-size: 20px;
    font-weight: 900;
    color: var(--color_white-font);
}

.text-cta > p{
    font-size: 15px;
    color:var(--color_gray-font);
}


/* Footer */
.footer{
    display: flex;
    justify-content: center;


    background-color: var(--background-color-slate-blue);
    color: var(--color_white-font);
    padding: 10px;
    height: 15px;
}
